<div id="foot" th:fragment="foot">
    <div class="row" style="background: silver">
		<div class="col-md-12" >
			<div style="text-align: center;color:white ">
			<table class="col-md-12" >
			  <tr>
			    <td><a href="http://geek.csdn.net/career">程序人生</a></td>
			    <td ><a href="http://geek.csdn.net/news">业界</a></td>
			    <td ><a href="http://geek.csdn.net/cloud">云计算</a></td>
			     <td ><a href="http://geek.csdn.net/frontend">前端</a></td>
			     <td ><a href="http://geek.csdn.net/tools">研发工具</a></td>
			  </tr>
			  <tr>
			    <td ><a href="http://geek.csdn.net/AI">人工智能</a></td>
			    <td ><a href="http://geek.csdn.net/iot">物联网</a></td>
			    <td ><a href="http://geek.csdn.net/language">语言</a></td>
			     <td ><a href="http://geek.csdn.net/database">数据库</a></td>
			     <td ><a href="http://geek.csdn.net/se">软件工程</a></td>
			  </tr>
			   <tr>
			    <td ><a href="http://geek.csdn.net/os">系统网络安全</a></td>
			    <td ><a href="http://geek.csdn.net/game">游戏与图像</a></td>
			    <td ><a href="http://geek.csdn.net/mobile">移动开发</a></td>
			    <td ><a href="http://geek.csdn.net/bigdata">大数据</a></td>
			    <td ><a href="http://geek.csdn.net/forum/14">全栈工程师</a></td>
			  </tr>
			</table><br/>
			<span >Powered by daihui.xyz V1.0 &nbsp;&nbsp;&nbsp; Copyright © 2012-2016 dh分享 版权所有</span>
			</div>
		</div>
	</div>
</div>

